.Flex-Colunm{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-shadow: 2px 4px 4px #010632a0;
    color: #010632a0;
    text-align: center;
}


.Flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 25vw;
    height: 42vh;
    border-radius: 12px;
    align-self: center;
}