p {
  color: #010632;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  padding: 3px;
}

.junt {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}

.Img_2 {
  width: 5vw;
  height: 9vh;
}

/* 
.Junt3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
}

.Junto4 {
    display: flex;
    flex-direction: row-reverse;
    align-items:first baseline;
}

.Img1 {
    width: 5vw;
    height: 9vh;
}

.Img2 {
    width: 5vw;
    height: 7vh;
    align-items: center;
}

.Text {
    width: 25vw;
    padding: 5px;
    align-items: center;
} */
