body {
  background-color: rgb(231, 118, 179);
}
.Flex-box {
  display: flex;
  flex-direction: column;
  width: auto;
}
.pp {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  width: 50vw;
  color: #010632a0;
  text-align: center;
}

